<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>quotaX - Come Funziona</title>
</head>
<body>
    <header>
        <h1>quotaX Italia</h1>
        <!-- Pulsante Hamburger per Mobile -->
        <button id="menu-toggle" class="hamburger">☰</button>

        

<!-- Menu Desktop -->
<nav class="desktop-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/view">Bacheca quote</a></li>
        <% if (user) { %>
            <li><a href="/user-dashboard">Dashboard</a></li>
            <li><a href="/create">Crea Annuncio</a></li>
            <li><a href="/create-azioni">Crea Ann. Azioni</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user-login">Accedi</a></li>
            <li><a href="/register">Registrati</a></li>
        <% } %>
        <li><a href="/bacheca-azioni">Bacheca Azioni</a></li>
        <li><a href="/crowdfunding">CrowdFunding</a></li>
    </ul>
</nav>

<!-- Menu Mobile -->
<nav id="menu" class="hidden">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/view">Bacheca quote</a></li>
        <% if (user) { %>
            <li><a href="/user-dashboard">Dashboard</a></li>
            <li><a href="/create">Crea Annuncio</a></li>
            <li><a href="/create-azioni">Crea Ann. Azioni</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user-login">Accedi</a></li>
            <li><a href="/register">Registrati</a></li>
        <% } %>
        <li><a href="/bacheca-azioni">Bacheca Azioni</a></li>
        <li><a href="/crowdfunding">CrowdFunding</a></li>
    </ul>
</nav>

    </header>
    <main>
        <section>
            <h3>Benvenuti su quotaX</h3>
            <p>quotaX è una piattaforma gratuita che permette a venditori e acquirenti di incontrarsi per scambiare quote e azioni societarie, incluse quelle provenienti da crowdfunding. La nostra missione è rendere il processo semplice e accessibile a chiunque. Puoi pubblicare annunci o cercare opportunità senza costi aggiuntivi.</p>
        </section>
        <section>
            <h3>Come Funziona</h3>
            <div>
                <h4>Registrazione</h4>
                <p>Registrati gratuitamente come utente per accedere a tutte le funzionalità della piattaforma.</p>
            </div>
            <div>
                <h4>Bacheca delle Quote</h4>
                <p>Consulta la bacheca per: trovare opportunità, per vendere quote per vendere azioni ( conto titoli ).</p>
            </div>
            <div>
                <h4>Sistema di Contatto</h4>
                <p>Utilizza il nostro sistema di contatto per entrare in contatto diretto con gli altri utenti. All'interno della piattaforma non avvengono pagamenti, ne gestiamo i pagamenti, che avvengono al di fuori della piattaforma.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 quotaX. Tutti i diritti sono riservati.</p>
        <p><a href="/privacy">Privacy</a>
        <a href="/come-funziona">Come Funziona</a>   
        <a href="/warnings">Avvertenze</a>
        <script src="/js/menu.js"></script>
    </footer>
</body>
</html>
