<button id="menu-toggle" class="hamburger">☰</button>
<nav id="mobile-menu" class="hidden">
<nav>
    <a href="/">Home</a>
    <a href="/view">Bacheca quote</a> <!-- Sempre visibile -->
    <% if (user) { %> <!-- Mostra solo per utenti loggati -->
        <a href="/user-dashboard">Dashboard</a>
        <a href="/create">Crea Annuncio</a>
        <a href="/create-azioni">Crea Ann. Azioni</a> <!-- Nuovo link per utenti loggati -->
        <a href="/logout">Logout</a>
    <% } else { %> <!-- Mostra solo per utenti non loggati -->
        <a href="/user-login">Accedi</a>
        <a href="/register">Registrati</a>
    <% } %>
    <a href="/bacheca-azioni">Bacheca Azioni</a> <!-- Nuovo link sempre visibile -->
    <a href="/crowdfunding">CrowdFunding</a>
</nav>
<script src="/js/menu.js"></script>