<button id="menu-toggle" class="hamburger">☰</button>
<nav id="menu" class="hidden"> <!-- Aggiunto l'ID -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/view">Bacheca quote</a></li>
        <% if (user) { %>
            <li><a href="/user-dashboard">Dashboard</a></li>
            <li><a href="/create">Crea Annuncio</a></li>
            <li><a href="/create-azioni">Crea Ann. Azioni</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/user-login">Accedi</a></li>
            <li><a href="/register">Registrati</a></li>
        <% } %>
        <li><a href="/bacheca-azioni">Bacheca Azioni</a></li>
        <li><a href="/crowdfunding">CrowdFunding</a></li>
    </ul>
</nav>
<script src="/js/menu.js"></script>
