<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Profilo Utente</title>
</head>
<body>
    <header>
        <header>
            <%- include('menu') %>
        </header>        
    </header>

    <main>
        <h1>Il tuo Profilo</h1>

        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>

        <form action="/user-profile" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Inserisci il tuo nome" value="<%= email %>">
        
            <label for="password">Nuova Password:</label>
            <input type="password" name="password" placeholder="Inserisci una nuova password">
        
            <button type="submit">Salva Modifiche</button>
        </form>        
    </main>

    <footer>
        <p>&copy; 2025 quotaX. Tutti i diritti sono riservati.</p>
        <p><a href="/privacy">Privacy</a>
        <a href="/come-funziona">Come Funziona</a>   
        <a href="/warnings">Avvertenze</a>    
    </footer>
</body>
</html>
